*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	display: flex;
	flex-direction: column;
	height: 100vh;
}

html{
	background-color: #222;
}

#block{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ddd;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}