*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
	background-color: #222;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

header{
	position: fixed;
	width: 100%;
	max-width: 100vw;
	background-color: #444;
	color: #ccc;
	margin-bottom: 1em;
	min-height: 50px;
	
}

.items-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: .5em;
	align-items: center;
	max-height: 100%;
}

.logo{
	display: flex;
	font-size: 1.6em;
	font-weight: bold;
	background-color: #222;
	border-radius: 10px;
	padding: .3em;
	margin-left: .5em;
	cursor: pointer;
}

.items-container nav{
	margin-right: 1em;
}

header .items-container nav a{
	color: #ccc;
	text-decoration: none;
	margin-left: .8em;
	margin-right: .8em;
	transition: 250ms;
	font-weight: bold;
}

header .items-container nav a:hover{
	color: #fff;
}

main{
	flex: 1 0 auto;
}

.conteudo{
	background-color: #ccc;
	padding: .8em;
	margin: auto;
	max-width: 600px;
	margin-bottom: 1em;
	margin-top: 5em;
}

.conteudo h1{
	font-size: 1.9em;
	text-align: center;
}

.conteudo p{
	margin-top: 1em;
}

footer{
	background-color: #444;
	padding: 5px;
	flex-shrink: 0;
	color: #ccc;
}

footer span{
	display: flex;
	width: 180px;
	margin: auto;
}

footer span strong{
	margin-left: .6em;
}

footer a{
	color: #ccc;
	text-decoration: none;
}

footer a:hover{
	text-decoration: underline;
}

@media (max-width: 460px){
	.items-container, header{
		flex-direction: column;
		min-height: 100px;
	}
}